/* 

input{
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  margin:2px;
  padding:2px 2px 2px 8px; 
}

button{
  color:white;
  background: #0f204b;
  padding: 9px 60px;
  border-radius: 100px;
  cursor: pointer!important;
  border: 1px solid #0f204b;
}

button:disabled{
  transition: background .25s;
  font-size: 16px;
  font-family: Source Sans Pro,sans-serif;
  position: relative;
  color: #fff;
}

.box{    
  border: 1px solid #dbdbdb;
  padding: 5px;
  margin: 5px;
} */