$primary-color: #004d26;
$secondary-color: #ff99cc;
$error-color: #420420;
$success-color: #66ff99;
$dv-orange: #F65A00 ;

.dvorange {
  background-color: #F65A00 !important;
  border-color: #F65A00 !important;
}